<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Todo List</title>
    <link rel="stylesheet" href="/css/styles.css">
    <script src="https://cdn.tailwindcss.com"></script>
    <script>
        // const token = document.querySelector('meta[name="csrf-token"]').getAttribute('content');
        function updateTodo(id) {
            fetch(`/todo/${id}`, {
                method: 'put',
                headers: { "Content-Type": "application/json" },

            })
            .then((res) => {
                if (res.ok) {
                    window.location.reload();
                }
            })
            .catch((err) => console.log(err));
        } 

        function deleteTodo(id) {
            fetch(`/todo/${id}`, {
                method: 'delete',
                headers: { "Content-Type": "application/json" },

            })
            .then((res) => {
                if (res.ok) {
                    window.location.reload();
                }
            })
            .catch((err) => console.log(err));
        }
    </script>
</head>
<body>
    <div class="grid-cols-6 grid">
        <div class="col-start-2 col-span-3">
            <%- include('header.ejs') %>
            <a href="/signout">signout</a>
            <form action="/todo" method="post">  
                <div class="flex gap-2 py-4">
                    <div class="flex-auto">
                        <input type="text" name ="title" placeholder="What's next?" required
                        class="border border-gray-300 rounded text-gray-900 w-full p-2 text-sm">
                    </div>
                    <div class="flex-auto">
                        <input type="date" name="dueDate" required
                        class="leading-4 border border-gray-300 rounded text-gray-900 w-full p-2 text-sm">
                    </div>
                    <div class="flex-none">
                        <button type="submit"
                        class="bg-green-600 text-white px-5 py-1.5 rounded font-medium mr-2 mb-2">Add</button>
                    </div>
                </div>
            </form>
            <%- include('notifications.ejs') %>
            <%- include('todo.ejs') %>
        </div>
    </div>
    <!-- <br>
    <%- include('todo.ejs') %>
    -->
    
</body>
</html>